#faceLogo {
    height: 50px;
    margin-top: -15px;
}

.navbar {
    opacity: 1;
    background-color: transparent;
    border: 0px;
}

.nav.navbar-nav.pull-right li a {
    color: #e6e6e6;
    font-size: 20px;
}

.navbar-default .navbar-toggle .icon-bar {
    color: #e8e4e4;
}

#name {
    color: #f2f2f2;
}

#description {
    color: #f2f2f2;
}

#home {
    background-image: url(.././images/bg_img1.jpeg);
    background-attachment: fixed;
    height: 550px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -1;
    width: 100%;
}

.rowHomepage {
    position: relative;
    top: 275px;
}

.coloumn_onHomePage {
    width: 100%;
    position: relative;
}

@media (max-width: 480px) {
    /* This query is used for very small screens  */
    #rectangle_BG {
        position: absolute;
        left: 50%;
        border: 5px solid white;
        transform: translate(-50%, 0%);
        width: 350px;
        height: 94px;
        z-index: -1;
    }
    #name {
        font-size: 35px;
    }
    #description {
        font-size: 15px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    /* This query is used for small screens  */
    #rectangle_BG {
        position: absolute;
        left: 50%;
        border: 5px solid white;
        transform: translate(-50%, 0%);
        width: 400px;
        height: 100px;
        z-index: -1;
    }
    #name {
        font-size: 40px;
    }
    #description {
        font-size: 15px;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    /* This query is used for medium screens  */
    #rectangle_BG {
        position: absolute;
        left: 50%;
        border: 5px solid white;
        transform: translate(-50%, 0%);
        width: 500px;
        height: 111px;
        z-index: -1;
    }
    #name {
        font-size: 45px;
    }
    #description {
        font-size: 20px;
    }
}

@media (min-width: 980px) {
    /* This query is used for large screens  */
    #rectangle_BG {
        position: absolute;
        left: 50%;
        border: 5px solid white;
        transform: translate(-50%, 0%);
        width: 600px;
        height: 122px;
        z-index: -1;
        border-radius: 0x;
    }
    #name {
        font-size: 50px;
    }
    #description {
        font-size: 25px;
    }
}





